<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="locations.css" />
  </head>
  <body>
    <section class="locations-section">
      <div class="container-fluid">
        <!-- Row 1: Headings -->
        <div class="row align-items-end">
          <div class="col-md-8 p-xl-0">
            <h2>Our Locations</h2>
            <p>
              Select one of the stores from the list below or use our
              interactive map to find your local Apparelmaster store.
            </p>
          </div>
          <div class="col-md-4">
            <p>Interactive Map</p>
          </div>
        </div>

        <!-- Row 2: Content -->
        <div class="row row-gap-30">
          <!-- Store Listings Area -->
          <div class="col-md-8">
            <div class="row g-46">
              <div class="col-md-6 min-h-207 p-xl-0">
                <div
                  class="store-item d-flex flex-column align-items-start justify-content-start"
                >
                  <div class="divider"></div>
                  <div
                    class="d-flex flex-column align-items-start justify-content-start"
                  >
                    <h4>Northland</h4>
                    <a href="#"> (North of Harbour Bridge) </a>
                    <a href="#">Far North Apparelmaster </a>
                    <a href="#">Whangarei Apparelmaster </a>
                    <a href="#">Kaipara Apparelmaster </a>
                    <a href="#">North Harbour Apparelmaster </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 min-h-207 p-xl-0">
                <div
                  class="store-item d-flex flex-column align-items-start justify-content-start"
                >
                  <div class="divider"></div>
                  <div
                    class="d-flex flex-column align-items-start justify-content-start"
                  >
                    <h4>Auckland</h4>
                    <a> (South of Harbour Bridge) </a>
                    <a href="#"> CBD to Papakura - Pryor's Apparelmaster </a>
                    <a href="#">Pukekohe - Counties Apparelmaster</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 min-h-207 p-xl-0">
                <div
                  class="store-item d-flex flex-column align-items-start justify-content-start"
                >
                  <div class="divider"></div>
                  <div
                    class="d-flex flex-column align-items-start justify-content-start"
                  >
                    <h4>Central North Island</h4>
                    <a href="#">Thames - TCL Apparelmaster</a>
                    <a href="#">Tauranga - TCL Apparelmaster</a>
                    <a href="#">Hamilton - Apparelmaster Waikato</a>
                    <a href="#">Matamata - Sincerity Apparelmaster</a>
                    <a href="#">Rotorua - Apparelmaster Rotorua</a>
                    <a href="#">Whakatane - Coastline Apparelmaster</a>
                    <a href="#">Hawke's Bay - Diamond Apparelmaster</a>
                    <a href="#">Tokoroa - Sincerity Apparelmaster</a>
                    <a href="#">Gisborne Laundry Services</a>
                    <a href="#">Taupo - Permaclean Apparelmaster</a>
                    <a href="#">New Plymouth - La Nuova Apparelmaster</a>
                    <a href="#">Inglewood - La Nuova Apparelmaster</a>
                    <a href="#">Hawera - La Nuova Apparelmaster</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 min-h-207 p-xl-0">
                <div
                  class="store-item d-flex flex-column align-items-start justify-content-start"
                >
                  <div class="divider"></div>
                  <div
                    class="d-flex flex-column align-items-start justify-content-start"
                  >
                    <h4>Lower North Island</h4>
                    <a href="#">Whanganui - La Nuova Apparelmaster</a>
                    <a href="#">Manawatu Apparelmaster</a>
                    <a href="#">Wairarapa Apparelmaster</a>
                    <a href="#">Tararua - Diamond Dry Cleaners</a>
                    <a href="#">Wellington Apparelmaster</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 min-h-207 p-xl-0">
                <div
                  class="store-item d-flex flex-column align-items-start justify-content-start"
                >
                  <div class="divider"></div>
                  <div
                    class="d-flex flex-column align-items-start justify-content-start"
                  >
                    <h4>South Island</h4>
                    <a href="#">Marlborough - Master Valet Apparelmaster</a>
                    <a href="#">Nelson - Master Valet Apparelmaster</a>
                    <a href="#">West Coast Apparelmaster</a>
                    <a href="#">Christchurch Apparelmaster</a>
                    <a href="#">Ashburton - Wrights Apparelmaster</a>
                    <a href="#">Timaru - Target Apparelmaster</a>
                    <a href="#">Oamaru - Preens Apparelmaster</a>
                    <a href="#"
                      >Dunedin / Central Otago - Preens Apparelmaster</a
                    >
                    <a href="#">Gore - Newtone Apparelmaster</a>
                    <a href="#">Invercargill - McCallums Apparelmaster</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Map Column -->
          <div class="col-md-4">
            <div class="map-container">
              <img class="map-area" src="/images/map.png" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
